@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model Authorization.WebBFFApplication.Pages.StartLogoncshtmlModel
@{
}
 <form asp-page-handler="Logon" method="post">
        <button class="btn btn-default">Logon</button>
        
    </form>